.mt-10 {
    color: white;
    margin-top: 10px;
}
.mt-20 {
    color: white;
    margin-top: 20px;
}
.mt-30 {
    color: white;
    margin-top: 30px;
}
.mt-50 {
    color: white;
    margin-top: 50px;
}
.mt-100 {
    color: white;
    background-color: white;
    margin-top: 100px;
}
body {
    color: white;
    background-image: url("librarybackground.jpg");
    background-color: white;
   }
table {

    color: black;
    background-color: white;

}